.Post {
    background-color: white;
    margin: 7px;
    display: grid;
    grid-template-areas:
      "img message"
      "img like";
    grid-template-rows: 2fr 1fr ;
    grid-template-columns: 60px 1fr ;
    grid-gap: 5px;
    padding: 5px;
    border-top: 1px solid #ccc;
}

.avatar img {
    margin: 20px 10px 10px 10px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    float: left;
    grid-area: img;
}

.Like {
    grid-area: like;
    margin-left: 10px;
}

.heart {
    width: 20px;
    height: 20px;
}


.Message {
    grid-area: message;
    border: 1px solid dimgrey;
    margin: 10px 10px 0 10px;
    padding: 10px;
}
