.sendMessage {
    margin: 0 auto;
    background-color: indianred;
    border-radius: 0 0 10px 0;
    -moz-border-radius: 0 0 10px 0;
    -webkit-border-radius: 0 0 10px 0;
    display: grid;
    grid-template-rows: 3fr 1fr;
}

.sendMessage textarea {
    width: 95%;
    height: 100px;
    margin: 10px;
}

.sendMessage button {
    width: max-content;
    height: max-content;
    margin: 10px;
}