.userContainer {
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px;
}

.logo {
    text-align: center;
}

.logo img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.followButtonContainer {
    margin: 10px 0;
    text-align: center;
}

.userName {
    text-align: center;
}