.photo {
    text-align: center;
    height: 75%;
}

.photo img {
    max-width: 100%;
    max-height: 100%;
}

.followButtonContainer {
    margin-top: 5px;
    text-align: center;
}

.userName {
    text-align: center;
    margin-top: 5px;
}