.logo {
    text-align: center;
}

.logo img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    transition: 0.5s;
}

.followButtonContainer {
    margin: 10px 0;
    text-align: center;
}

.userName {
    text-align: center;
}