.dialogList {
    margin-left: -20px;
    margin-top: 10px;
    margin-right: 5px;
background-color: gainsboro;
    border-radius: 10px 0px 0px 10px;
    -moz-border-radius: 10px 0px 0px 10px;
    -webkit-border-radius: 10px 0px 0px 10px;
}