.NavBar {
    border-radius: 10px;
    background-color: white;
    height: max-content;
    margin-bottom: 20px;
}

.bordered {
    border-color: dimgrey !important;
}

.Item a.active {
    color: indianred !important;
    transition-property: color;
    transition-duration: 3s;
}

.Item a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.Item a:hover {
    color: cornflowerblue !important;
}

.Item {
    margin-top: 20px;
}