.NavBar {
    grid-area: NavBar;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    background-color: white;
    /*padding: 0;*/
    height: max-content;
    margin-bottom: 20px;
}

.Item a.active {
    color: indianred;
    font-weight: bold;
    transition-property: color;
    transition-duration: 3s;
}

.Item a {
    color: black;
    text-decoration: none;
}

.Item {
    margin-top: 20px;
}