.container {
    margin: 20px;
    padding: 30px;
    border: 2px solid transparent;
    border-radius: 10px;
    background: linear-gradient(135deg, rgba(240,255,255,0.5) 0%, rgba(255,255,255,0.3) 60%);
    backdrop-filter: blur(8px);
    box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
}

.title {
   text-align: center;
}

.goToUsersButton {
    text-align: center;
}

.goToUsersButton button{
   color: white;
}