.Avatar img {
    width: 200px;
    height: 200px;
    border-radius: 50px;
    margin: 5px auto;
}

.bordered {
    border-color: dimgrey !important;
}

.user {
    display: grid;
    grid-template-columns: 4fr 14fr;
    margin: 10px;
    grid-gap: 10px;
    width: 80%;
}

.status {
    width: 200px;
    margin: 10px 0 0 0;
    text-align: center;
}

.description {
    border: 1px solid #ccc;
    border-radius: 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    padding: 10px;
    width: auto;
    background-color: white;
}

.contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    margin: 5px;
}

.editButton {
    margin: 10px;
    float: right;
    width: max-content;
    height: max-content;
}

.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}
