.sideBar {
    margin-top: 40px;
    text-align: center;
}

.title {
    font-weight: bold;
}

.friendsList * {
    opacity: 0;
    transition: 1s;
    animation: show 1s 1;
    animation-fill-mode: forwards;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}